* {
   font-family: arial, helvetica, sans-serif;
   font-size: 20px;
}
h1 {
   font-family: arial, helvetica, sans-serif;
   font-size: 40px;
}
body {
    background-color: #F0FFFF;
}
img {
    height: 200px;
}